body.gray{
    background-color: rgb(174, 187, 199);
}
body.green{
    background-color: rgb(134, 207, 134);
    color: rgb(0, 71, 31);
}

body.yellow{
    background-color: khaki;
    color: rgb(155, 140, 11);
}