/*Imagens*/

#banner {
    width: 100%;
}

.imagembeneficio {
    width: 50%;
}


/*Títulos*/
.titulo-centralizado {
    text-align: center;
}
.titulo-principal {
    padding-left: 20px;
}


/*Texto*/
p {
    text-align: center;
}

#missao {
    font-size: 20px;
}


/*Lista*/
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}


/*Divs*/
.principal {
    background-color: rgb(182, 202, 221);
    padding: 20px;
}

.beneficios {
    background-color: whitesmoke;
    padding: 20px;
}


/*Configurações Globais*/
em strong {
    color: rgb(129, 5, 5);
}